<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/c08b99bcb8.js" crossorigin="anonymous"></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;900&display=swap" rel="stylesheet">


<title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
<%- include('./partials/header.ejs') %>
        <nav id="menu-no-mobile">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="#"><li>Categorias</li></a>
                <a href="#"><li>Contacto</li></a>
            </ul>
        </nav>
        <section id="contenedor-section">
        <div id="ruta">
                <p><a class="negro" href="/">Home</a> > Editar producto</p>
        </div>    
           
            <article id="login-registro">
                <h2>Editar Producto</h2><br>

                    <form action="/productos/edit/<%= taza.id %>?_method=PUT" method="PUT"></form>
                            
                    <label for="nombre" class="form-label">Nombre del producto:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="<%= taza.nombre %>" class="form-input">
                <div class="col-12 col-md-6">
                    <label for="precio" class="form-label">Precio del producto:</label>
                    <input type="text" id="precio" name="precio" placeholder="<%= taza.precio %>" class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="Descuento" class="form-label">Descuento:</label>
                    <input type="text" id="Descuento" name="Descuento" placeholder="<%= taza.Descuento %>" class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="categoria" class="form-label">Categoría:</label>
                    <select name="categoria" id="categoria" class="form-input">
                        <option value="">Ceramica</option>
                        <option value="">Magica</option>
                        
                    </select>
                </div>
                <div class="col-12">
                    <label for="descripción" class="form-label">Descripción:</label>
                    <textarea name="descripción" id="descripción" class="form-input"><%= taza.description %></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="buy-now-button">Guardar producto</button>
                </div>                                              
                    </form>

            </article>

        </section>

       
        <footer>
            <div id="contenedor-footer">
                    <img class="logo-footer" src="/imagenes/logo.png" alt="">
                
                    <img class="redes" src="/imagenes/ig.png" alt="">
        
            </div>    
        </footer>
    </div>
</body>

</html>