<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links-y-meta.ejs') %>

<title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
<%- include('./partials/header.ejs') %>
        <nav id="menu-no-mobile">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="#"><li>Categorias</li></a>
                <a href="#"><li>Contacto</li></a>
            </ul>
        </nav>
        <section id="contenedor-section">
        <div id="ruta">
                <p><a class="negro" href="/">Home</a> > Editar producto</p>
        </div>    
           
            <article id="login-registro">
                <h2>Editar Producto</h2><br>

                    <form action="/productos/edit/<%= product.id %>?_method=PUT " method="PUT"></form>
                            
                    <label for="nombre" class="form-label">Nombre del producto:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="<%= product.nombre %>" class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="precio" class="form-label">Precio del producto:</label>
                    <input type="text" id="precio" name="precio" placeholder="<%= product.precio %>" class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="Descuento" class="form-label">Descuento:</label>
                    <input type="text" id="Descuento" name="Descuento" placeholder="<%= product.Descuento %>" class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="categoria" class="form-label">Categoría:</label>
                    <select name="categoria" id="categoria" class="form-input">
                        <option value="">Ceramica</option>
                        <option value="">Magica</option>
                        
                    </select>
                </div>
                <div class="col-12">
                    <label for="descripción" class="form-label">Descripción:</label>
                    <textarea name="descripción" id="descripción" class="form-input"><%= product.description %></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="buy-now-button">Guardar producto</button>
                </div>                                              
                    </form>

            </article>

        </section>

       
        <%- include('./partials/footer.ejs') %>

    </div>
</body>

</html>