<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links-y-meta.ejs') %>

<title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
<%- include('./partials/header.ejs') %>
        <nav id="menu-no-mobile">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="#"><li>Categorias</li></a>
                <a href="#"><li>Contacto</li></a>
            </ul>
        </nav>

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="https://d22fxaf9t8d39k.cloudfront.net/525e09d4325db2b8383f593edcf7a91ca3276b48e12952271894d96f968ccfba79300.jpeg" style="width:100%">
     
    </div>
  
    <div class="mySlides fade">
      <img src="https://d22fxaf9t8d39k.cloudfront.net/79ce9f513f65ad2bc11708c41f1a06e36c352c4001fe75271dc5580aec0b685879300.jpeg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="https://d22fxaf9t8d39k.cloudfront.net/6dcf6d52a1c5bd64fa7fcbc230bb35e79d48351c562e92daa3a9ca2fe9077fd279300.jpeg" style="width:100%">
    </div>
  
   
  </div>


        <section id="productos">
            <h1>Nuestras Tazas</h1>
           

            <% tazas.forEach(tazas => { %> 
                <article>
                    <a href="/productos/detalle/<%= tazas.id %>">
    
                    <div class="taza-individual">
                        <img src="/imagenes/<%= tazas.imagen %> " alt="" class="img-producto">
                        <h4><%= tazas.nombre %></h4>
                        <p class="precio">$ <%= tazas.precio %></p>

                    </div>
                </a>
                </article>
                <% }) %>
    
                  
            
        </section>
        <%- include('./partials/barra-extra.ejs') %>

        <%- include('./partials/footer.ejs') %>

    </div>
</body>
<script>
    var slideIndex = 0;
 showSlides();
 
 function showSlides() {
   var i;
   var slides = document.getElementsByClassName("mySlides");
   for (i = 0; i < slides.length; i++) {
     slides[i].style.display = "none";
   }
   slideIndex++;
   if (slideIndex > slides.length) {slideIndex = 1}
   slides[slideIndex-1].style.display = "block";
   setTimeout(showSlides, 5000); // Change image every 2 seconds
 }
 
 
     </script>
 </html>