<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links-y-meta.ejs') %>

    <title>Mos Tazas | Tazas Sublimadas</title>
</head>

<body>

    <div id="contenedor-global">
<%- include('./partials/header.ejs') %>
        <nav id="menu-no-mobile">
            <ul>
                <a href="/"><li>Inicio</li></a>
                <a href="#"><li>Categorias</li></a>
                <a href="#"><li>Contacto</li></a>
            </ul>
        </nav>
        <section id="productos">
            <h1>Todos los Productos</h1>
           

            <% taza.forEach(tazas => { %> 
                <article>
                    <a href="/productos/detalle/<%= tazas.id %>">
    
                    <div class="taza-individual">
                        <img src="/imagenes/<%= tazas.imagen %> " alt="" class="img-producto">
                        <h4><%= tazas.nombre %></h4>
                        <p class="precio">$ <%= tazas.precio %></p>

                    </div>
                </a>
                </article>
                <% }) %>
    
           
        </section>
        <%- include('./partials/barra-extra.ejs') %>

        <%- include('./partials/footer.ejs') %>

    </div>
</body>

</html>